@model AttendanceLog

@{
    ViewBag.Title = "Attendance Page";
}

<h4>Student Attendance – Check-In / Check-Out</h4>

<hr />

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-2" >
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
}
<div class="dropdown mb-4">
    <button class="btn btn-primary btn-sm shadow-none dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Attendance Log
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/Students/List_Attendance">All</a></li>
        <li><a class="dropdown-item" href="/Students/Today_Attendance">Today</a></li>       
    </ul>
</div>


<div class="row">
<div style="background-color: #E0E0E0" class="card p-4 ms-2 col-md-5 shadow">
    <form method="post" asp-action="Attendance" asp-controller="Students">
<div class="row">
        <div class="row">
                    <div class="col-3"><label asp-for="StudentID">Student ID:</label></div>

                    <div class="col-6"><input asp-for="StudentID" class="form-control" placeholder="Enter ID" required /></div>
        </div>
        
        <div class="mt-3 row">
                    <div class="col-3"><label asp-for="SeatID">Seat No:</label></div>
                    <div class="col-6">
                        <select asp-for="SeatID" class="form-select" >
                            <option value="">-- Select Seat --</option>
                            @foreach (var seat in ViewBag.Seats)
                            {
                                <option value="@seat.SeatID">@seat.SeatID</option>
                            }
                        </select>
                    </div>

        </div>

        <div class="mt-3 row">
                    <div class="col-3"> <label asp-for="Status">Action:</label></div>
                    <div class="col-6">
                        <select asp-for="Status" class="form-select" required>
                            <option value="">-- Select Action --</option>
                            <option value="CheckIn">Check-In</option>
                            <option value="CheckOut">Check-Out</option>
                        </select>
                    </div>
        </div>
        <div class="mt-4 row">
            <div class="col-3"></div>
                    <div class="col-6"><button type="submit" class="btn btn-light btn-outline-primary shadow-none ">Submit</button></div>
        </div>
            </div>

    </form>
</div>
</div>

